html {
  margin: 0px;
}

.header {
  color: rgb(255, 255, 255);
  background: #000000;
  text-align: center;
  padding: 070px;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  transition: 1s;
}

.header:hover {
  background: #3d08ff;
  transition: 1s;
  font-size: 100%;
  margin: 0px;
}

.bar {
  background: black;
  padding: 20px;
}

.barB {
  background: black;
  padding: 20px;
  margin-bottom: 1000px;
}

.navbar:active,
.navbar:link,
.navbar:hover,
.navbar:visited {
  border-radius: 5px;
  display: inline-block;
  color: white;
  background: rgb(4, 4, 112);
  border: 5px;
  border-color: rgb(4, 4, 112);
  border-style: solid;

  padding: 1px;
  text-decoration: none;
}

body {
  background: white;
  margin: 0px;
}

.flex-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flexButton {
  /* margin-right: 10px;
  margin-left: 10px; */
  border-color: blue;
  border-width: 10px;
  border-style: inset;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 25px;
}
.flexButton:hover {
  /* margin-right: 10px;
  margin-left: 10px; */
  border-color: blue;
  border-width: 10px;
  border-style: inset;
  height: 50px;
  width: 100px;
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 25px;
  transition: background-color 250ms;
}

.imgContainer {
  text-align: center;
  margin-bottom: 50px;
}

#picTest {
  height: 300px;
  display: inline-block;
  width: 300px;
}
#cap {
  color: white;
}

.SBBody {
  background-color: #000000;
}

#calcHead {
  color: white;
}
#calcContainer {
  display: flex;
  justify-content: center;
}
.key {
  color: white;
}
.num {
  color: red;
}

.animate {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.animate span {
  display: block;
}

.name1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background: blue;
  position: relative;
  animation: text 3s;
}

.name2 {
  background: blue;
  font-size: 30px;
  color: white;
}

@keyframes text {
  0% {
    color: blue;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 20px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
}

.calccontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calculator {
  border-radius: 25px;
  border-style: double;
  border-color: red;
  border-width: 10px;
  padding: 10px;
}

#display {
  border-radius: 15px;
  height: 60px;
  font-size: 20px;
  width: 180px;
  margin-bottom: 10px;
  margin-right: 0px;
  /* box-shadow: 8px 12px 12px rgb(255, 0, 0), 2px 10px 10px rgb(0, 0, 0); */
}

#display2 {
  border-radius: 25px;
  height: 60px;
  font-size: 20px;
  width: 60px;
  margin-bottom: 10px;
  margin-left: 0px;
  /* box-shadow: 8px 12px 12px rgb(255, 0, 0), 2px 10px 10px rgb(0, 0, 0); */
}

.b {
  background: transparent;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  outline: 0;
  width: 60px;
  height: 60px;
  /* box-shadow: 8px 12px 12px rgb(255, 0, 0), 2px 10px 10px rgb(0, 0, 0); */
  margin: 0px;
  color: white;
}

.pygame {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(210, 241, 91);
  background: linear-gradient(
    0deg,
    rgba(210, 241, 91, 1) 30%,
    rgba(0, 218, 255, 1) 100%
  );
}

body {
  background-color: rgb(50, 50, 50);
}

video {
  width: 100vw;
}

.discord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(95, 92, 255);
  background: linear-gradient(
    0deg,
    rgba(95, 92, 255, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}

.dbutton {
  width: 100px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
}

.logo {
  border-style: solid;
  border-color: white;
  height: 100px;
  width: 150px;
}
.logo2 {
  border-style: solid;
  border-color: white;
  height: 100px;
  width: 100px;
}

.blender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 254, 245);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 245, 1) 9%,
    rgba(255, 249, 136, 1) 40%,
    rgba(255, 176, 57, 1) 72%
  );
}

.bball {
  display: flex;
  flex-direction: row;
}

.pic {
  width: 50%;
}

.ue4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(136, 210, 255);
  background: linear-gradient(
    180deg,
    rgba(136, 210, 255, 1) 0%,
    rgba(255, 57, 232, 1) 86%
  );
  height: 100vh;
}

.break {
  margin-top: 500px;
}

.aboutbody {
  margin: 30px;
  color: white;
  justify-content: center;
  text-align: center;
}

a:link {
  color: red;
  background-color: transparent;
}
a:visited {
  color: deepskyblue;
  background-color: transparent;
}
a:active {
  color: yellow;
  background-color: transparent;
}
