html {
  margin: 0px;
}

.header {
  color: rgb(255, 255, 255);
  background: #000000;
  text-align: center;
  padding: 070px;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  transition: 1s;
}

.header:hover {
  background: #3d08ff;
  transition: 1s;
  font-size: 100%;
  margin: 0px;
}

.bar {
  background: black;
  padding: 20px;
}

.navbar:active,
.navbar:link,
.navbar:hover,
.navbar:visited {
  border-radius: 5px;
  display: inline-block;
  color: white;
  background: rgb(4, 4, 112);
  border: 5px;
  border-color: rgb(4, 4, 112);
  border-style: solid;

  padding: 1px;
  text-decoration: none;
}

body {
  background: white;
  margin: 0px;
}

.animate {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.animate span {
  display: block;
}

.name1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background: blue;
  position: relative;
  animation: text 3s;
}

.name2 {
  background: blue;
  font-size: 30px;
  color: white;
}

@keyframes text {
  0% {
    color: blue;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 20px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
}
